.mentions{
	background-color: $highlight-color;

	> section{
		width: 50%;
		max-width: 860px;
		margin: 40px auto;
		padding: 80px;
		background-color: $background-content-color;
		box-shadow: 0 0 5px rgba(0,0,0,.2);
	}

	h1,
	h2,
	h3{
		font-family: $secondary-ff;
		text-align: center;
	}
	h1{
    	line-height: 12vw;
		font-size: 3vw;
	}
	h2{
		margin: 6vw 0 4vw;
		font-size: 2vw;
	}
	h3{
		margin: 2vw 0;
		font-size: 1.7vw;
	}

	p,li{
		margin-bottom: 2vw;
		line-height: 3vw;
		font-size: 1.5vw;
	}
	li{list-style-type: disc;}

	a{
		color: $zenbus-color;
		text-decoration: underline;
	}
}

@media only screen and (max-width: 840px) {
	.mentions{
		> section{
			width: 96%;
			margin: 2%;
			padding: 40px;
		}
		h1{
			font-size: 32px;
		}
		h2{
			font-size: 24px;
		}
		h3{
			font-size: 16px;
		}
		p,li{
			font-size: initial;
			line-height: 1.5;
		}
	}
}