// HEADER
.blog-header {
    position: relative;
    width: 100%;
    height: 120px;
}

.blog-header-search {
    display: none;
    height: 100%;
    padding: 40px;
}

.blog-header-search-input {
    width: 30%;
}

.blog-header-categories {
    position: absolute;
    top: 0;
    right: 30px;
    text-align: right;
}

.categories-item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    line-height: 120px;

    &.active{
    	font-weight: 900;

    	> a:hover{
    		color: $main-color;;
		    cursor: default;
    	}
   	}

    > a {
	    display: block;
	    text-transform: uppercase;
	    font-size: 18px;
	    color: $main-color;
	    transition: color .3s;

	    &:hover {
		    color: $zenbus-color;
		}
	}

	&:not(:last-child)::after {
	    position: absolute;
	    content: '';
	    width: 1px;
	    height: 20px;
	    top: 50px;
	    right: 0;
	    background-color: $main-color;
	}
}


// ARTICLES
.blog-articles {
    display: grid;
    grid-template-columns: repeat(3, 31.33%);
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    padding: 0 0 2% 2%;
}

.blog-articles-card {
    height: 500px;
    background-color: $background-content-color;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow .3s;

    &:hover{box-shadow: 0 0 100px rgba(0,0,0,0.1)}
}

// Header
.card-header {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;

    > a {
        display: block;
        height: 100%;
    }
}

.card-infos {
    margin-top: -30px;
    padding: 0 20px 20px 20px;
}

.card-infos-img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid white;
}

.card-infos-author{
    .author-status {
        display: block;
        height: 100px;
        padding: 40px 0 10px 10px;
        text-align: left;
        @include text-overflow;
    }

    .author-status-prefix,
    .author-status-name{font-size: 18px;}
    .author-status-date {font-size: 14px;}
}

// Content
.card-content {
    color: $main-color;

    > p{
        position: relative;
        height: 90px;
        overflow: hidden;
        line-height: 2;

        *{
            font-style: inherit;
            font-weight: inherit;
        }

        &::after{
            content: '';
            position: absolute;
            height: 20px;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(rgba(255,255,255,0), #fff);
        }
    }

    > h2{display: none;}
}

.card-content-title {
    line-height: 60px;
    font-family: $secondary-ff;
    font-size: 28px;
    font-weight: 300;
    @include text-overflow;
}

// Categories
.card-categories {
    margin-top: 24px;
    @include inline-children;
}

.card-categories-item {
    height: 40px;
    margin-right: 4px;
    transition: background-color .3s;

    &.news              {background-color: #6094EA;}
    &.business          {background-color: #5E2563;}
    &.events            {background-color: #3BB2B8;}
    &.team              {background-color: #FF7676;}
    &.technical         {background-color: #1BCEDF;}
    &.interview         {background-color: #ffb401;}

    &.news:hover        {background-color: #4985e7;}
    &.business:hover    {background-color: #4c1e50;}
    &.events:hover      {background-color: #359fa5;}
    &.team:hover        {background-color: #ff5d5d;}
    &.technical:hover   {background-color: #18b9c8;}
    &.interview:hover   {background-color: #d38d00;}

    > a{
        display: block;
        padding: 0 10px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        color: white;
    }
}