.home-why{}

.home-why-content{
	position: relative;
	width: 50%;
	max-width: 960px;
    margin: -40px auto 0;
    padding: 40px 40px 80px 40px;
    text-align: center;
    background-color: $background-content-color;
    box-shadow: 0 20px 150px rgba(20,40,64,0.2), 0 -5px 15px rgba(20,40,64,.1);
}

.why-tile-title{
	padding: 40px 60px;
    font-family: $main-ff;
    font-size: 50px;
    font-weight: 400;
}

.why-tile-text{
	font-size: 21px;
    line-height: 1.5;
}

.why-tile-text-sub{
	display: block;
	padding-top: 40px;
	font-size: 30px
}

.home-why-numbers{
	display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    background-color: $main-color;
}

.home-why-numbers-item{
	display: flex;
	flex-direction: column;
	width: 20%;

	&.team,
	&.stops,
	&.data{flex-direction: column-reverse;}
}

.numbers-item-img{
	width: 100%;
	height: 360px;
	background-size: cover;

	.team &		{background-image: url("../img/home/team_small.jpg");}
	.networks &	{background-image: url("../img/home/networks_small.jpg");}
	.stops &	{background-image: url("../img/home/stops_small.jpg");}
	.kms &		{background-image: url("../img/home/kilometers_small.jpg");}
	.data &		{background-image: url("../img/home/data_small.jpg");}
}

.numbers-item-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 360px;
	padding: 20px;
	color: white;
	text-align: center;
}

.numbers-item-text-title{
	display: block;
	font-family: "Lato";
    font-size: 60px;
    font-weight: 700;
}