<button id="burgerButton" class="panel-hamburger"></button>
<nav id="panel" class="panel">
	<header class="panel-logo">
		<img src="{{ site.baseurl }}/assets/img/zenbus_logo@2x.png" alt="logo zenbus" class="panel-logo-img">
	</header>
	<menu class="panel-menu">

		<!-- HOME -->
		<li class="panel-menu-item home{% if page.permalink == '/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/" class="panel-menu-item-button">{{ site.data["strings"].nav.home }}</a>
		</li>

		<!-- CONNECT & PLAY -->
		<li class="panel-menu-item connectandplay sub-active">
			<button class="panel-menu-item-button">{{ site.data["strings"].nav.connectandplay.tab }}</button>
			<ul class="panel-menu-item-submenu">
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/innovation/" class="submenu-item-link">{{ site.data["strings"].nav.connectandplay.innovation }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/mynetwork/" class="submenu-item-link">{{ site.data["strings"].nav.connectandplay.mynetwork }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/partners/" class="submenu-item-link">{{ site.data["strings"].nav.connectandplay.partners }}</a>
				</li>
			</ul>
		</li>

		<!-- PRODUCTS -->
		<li class="panel-menu-item products">
			<button class="panel-menu-item-button">{{ site.data["strings"].nav.products.tab }}</button>
			<ul class="panel-menu-item-submenu">
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/operators/" class="submenu-item-link">{{ site.data["strings"].nav.products.operation }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/ao/" class="submenu-item-link">{{ site.data["strings"].nav.products.analytics }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/passengers/" class="submenu-item-link">{{ site.data["strings"].nav.products.iv }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/apis/" class="submenu-item-link">{{ site.data["strings"].nav.products.api }}</a>
				</li>
			</ul>
		</li>

		<!-- COMPANY -->
		<li class="panel-menu-item company">
			<button class="panel-menu-item-button">{{ site.data["strings"].nav.company.tab }}</button>
			<ul class="panel-menu-item-submenu">
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/team/" class="submenu-item-link">{{ site.data["strings"].nav.company.team }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/contact/" class="submenu-item-link">{{ site.data["strings"].nav.company.contact }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/job/" class="submenu-item-link">{{ site.data["strings"].nav.company.recruitment }}</a>
				</li>
			</ul>
		</li>

		<!-- RESOURCES -->
		<li class="panel-menu-item resources">
			<button class="panel-menu-item-button">{{ site.data["strings"].nav.resources.tab }}</button>
			<ul class="panel-menu-item-submenu">
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/blog/" class="submenu-item-link">{{ site.data["strings"].nav.resources.blog }}</a>
				</li>
				<li class="submenu-item">
					<a href="{{ site.baseurl }}/press/" class="submenu-item-link">{{ site.data["strings"].nav.resources.press }}</a>
				</li>
			</ul>
		</li>


		<!-- REDISPATCH

		<li class="panel-menu-item passenger{% if page.permalink == '/passengers/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/passengers/" class="panel-menu-item-text">{{ site.data["strings"].nav.passengers }}</a>
		</li>"
		<li class="panel-menu-item blog{% if page.url contains 'blog' %} active{% endif %}">
			<a href="{{ site.baseurl }}/blog/" class="panel-menu-item-text">{{ site.data["strings"].nav.blog }}</a>
		</li>
		<li class="panel-menu-item team{% if page.permalink == '/team/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/team/" class="panel-menu-item-text">{{ site.data["strings"].nav.team }}</a>
		</li>
		<li class="panel-menu-item contact{% if page.permalink == '/contact/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/contact/" class="panel-menu-item-text">{{ site.data["strings"].nav.contact }}</a>
		</li>
		<li class="panel-menu-item recruit{% if page.permalink == '/job/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/job/" class="panel-menu-item-text">{{ site.data["strings"].nav.recruit }}</a>
		</li>

		 -->


	</menu>
</nav>