.panel{
	display: flex;
	position: sticky;
	z-index: 3000;
	width: 100%;
	top: 0;
	height: $menu-height;
	background-color: $menu-bg;
	box-shadow: 0 0px 50px rgba(20,40,64,0.1);
}

// Button open / close
.panel-hamburger{
	display: none;
	position: fixed;
	z-index: 3001;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 10px;
	padding: 10px;
	border-radius: 100%;
	background-color: rgba(0,0,0,.2);
	background-origin: content-box;
	background-clip: content-box;
	transition: padding .2s;

	&::before,
	&::after{
		content: '';
		position: absolute;
		width: 20px;
		height: 2px;
		left: 20px;
		background-color: white;
		transition: transform .3s;
	}
	&::before{
		transform: translateY(-8px);
		box-shadow: 0 7px 0 white;
	}
	&::after {transform: translateY(6px);}

	&:hover{
		padding: 1px;
		cursor: pointer;
		background-color: rgba(0,0,0,.4);
	}

	&.show-panel{
		background-color: transparent;

		&::before,
		&::after{
			margin-top: 0;
			background-color: $main-color;
		}

		&::before{transform: rotateZ(45deg)}
		&::after {transform: rotateZ(-45deg)}
	}
}


// Header
.panel-logo{
    width: auto;
    height: $menu-height;
    padding: 10px;
}

.panel-logo-img{
	height: 100%;
}


// Menu
.panel-menu{
	flex: 1;
	padding-right: 40px;
	text-align: right;
	@include inline-children;
}

.panel-menu-item{
	position: relative;
}

.panel-menu-item-button{
	display: block;
	height: $menu-height;
	padding: 0 26px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: $main-color;
	transition: color .3s;

	/*
	&::before{
		content: '';
		display: inline-block;
		width: 60px;
		height: 60px;
		vertical-align: top;
		@include background-image-retina(menu_sprite, png, 120px, 420px);
		transition: background .3s;

		.home &			{background-position-y: 0;}
		.collectivity & {background-position-y: -60px;}
		.operators &	{background-position-y: -120px;}
		.passenger &	{background-position-y: -180px;}
		.blog &			{background-position-y: -240px;}
		.team &			{background-position-y: -300px;}
		.contact &		{background-position-y: -360px;}

		.active &		{background-position-x: -60px;}
	}
	*/
	
	.active &{color: $zenbus-color;}

	&:hover{
		color: $zenbus-color;

		&::before{background-position-x: -60px;}
	}
}


// Submenu
.panel-menu-item-submenu{
	position: absolute;
	width: 220px;
	top: 70px;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background-color: $background-content-color;
	box-shadow: 0 40px 100px rgba(0,0,0,0.2);
	opacity: 0;
	transition: transform .2s, opacity .2s;
	pointer-events: none;

	&:hover,
	.panel-menu-item-button:hover + &{
		transform: translate3d(-50%, 0, 0);
		opacity: 1;
		pointer-events: auto;
	}
}

.submenu-item{
	line-height: 60px;

	&:not(:last-child){border-bottom: 1px solid $highlight-color;}
}

.submenu-item-link{
	display: block;
	padding: 0 20px;
	text-align: left;
	color: $main-color;
	transition: color .3s;

	&:hover{color: $zenbus-color;}
}

// TEMP : SOON
.products .submenu-item:first-child,
.products .submenu-item:nth-child(2),
.products .submenu-item:nth-child(4),

.connectandplay .submenu-item:first-child,
.connectandplay .submenu-item:nth-child(2),
.connectandplay .submenu-item:nth-child(3){
	.submenu-item-link{
		pointer-events: none;

		&:hover{
			cursor: auto;
			color: $main-color;
			transition: none;
		}

		&::after {
		    content: ' - bientôt';
		    font-size: 12px;
		    font-style: italic;
		    color: $secondary-color;
		}
	}
}