.classic-form {
    position: relative;
    width: 840px;
    margin: auto;
    padding: 60px 80px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

// CONTENT
.classic-form-input,
.classic-form-select,
.classic-form-text,
.classic-form-textarea {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    margin: 20px 0;
    line-height: 80px;
    font-size: 28px;
}

.classic-form-input,
.classic-form-select,
.classic-form-textarea{
	width: 210px;
    padding: 0 16px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    background-color: #fff;
    color: $zenbus-color;

	&::placeholder{color: #ddd;}

	&:focus{
		border: none;
		border-bottom: 1px solid $secondary-color;
	}
}

.classic-form-textarea {
    width: 100%;
    height: 180px;
    padding: 0;
}

.classic-form-select + span{margin-right: 10px;}

.classic-form-input.email,
.classic-form-select.email,
.classic-form-textarea.email {
    width: calc(100% - 40px);
}

// RGPD & CHECKBOX
.classic-form-rgpd{
	margin: 20px 0;
	font-size: 12px;
}

.classic-form-checkbox:not(:checked),
.classic-form-checkbox:checked{
	position: absolute;
    left: -9999px;
}
.classic-form-label{
	display: block;
	position: relative;
	padding-left: 30px;
	line-height: 18px;
	cursor: pointer;

	&::before{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: 0;
		left: 0;
		border: 1px solid $secondary-color;
	}
}

.classic-form-checkbox:not(:checked) + .classic-form-label::after,
.classic-form-checkbox:checked + .classic-form-label::after{
	content: '';
	position: absolute;
	width: 6px;
    height: 6px;
    top: 6px;
    left: 6px;
	background-color: $main-color;
	transition: all .2s;
}

.classic-form-checkbox:not(:checked) + .classic-form-label::after{
	transform: scale(0);
	opacity: 0;
}
.classic-form-checkbox:checked + .classic-form-label::after{
	transform: scale(1);
	opacity: 1;
}


// ERROR
.classic-form-error,
.classic-email-error{
	display: none;
	position: absolute;
	font-size: 12px;
	color: $error-color;
	left: 50%;
	transform: translateX(-50%);
}
.classic-form-error{
	bottom: -25px;

	.rgpd-error &{display: block;}
}
.classic-email-error{
	bottom: -45px;

	.email-error &{display: block;}
}


// SUBMIT
.classic-form-submit{
	display: block;
    position: relative;
    width: 240px;
    height: 80px;
    margin: 60px auto 0;
    border: 1px solid #3bb2b8;
    color: #3bb2b8;
    font-size: 24px;
    text-transform: uppercase;
    transition: background-color .5s, width .5s;

    &::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
	    top: 50%;
		left: 50%;
		margin: -15px 0 0 -15px;
		@include background-image-retina(contact_sent_icon, png, 30px, 30px);
	    transform: scale(0);
		color: white;
		transition: transform .4s .7s cubic-bezier(.2,1.57,.76,1.49);
    }

    &:hover{
    	background-color: $zenbus-color;
    	color: white;
    }

    .contact-sent &{
    	width: 10%;
		background-color: $zenbus-color;
		font-size: 0;

		&::after{transform: scale(1)}
    }
}