// LOGOS

.partners-logos-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.partners-logos-item{
	width: 20%;
	height: 240px;
	padding: 80px;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    filter: grayscale(1);

	&.ubitransport 	{background-image: url(../img/partners/logos/ubitransport.png);}
	&.lumiplan		{background-image: url(../img/partners/logos/lumiplan.png);}
	&.hubup			{background-image: url(../img/partners/logos/hubup.png);}
	&.digimobee		{background-image: url(../img/partners/logos/digimobee.png);}
	&.ventrata		{background-image: url(../img/partners/logos/ventrata.png);}
	&.webreathe		{background-image: url(../img/partners/logos/webreathe.png);}
	&.wifiabord		{background-image: url(../img/partners/logos/wifiabord.png);}
	&.pilotfish		{background-image: url(../img/partners/logos/pilotfish.png);}
	&.weebfleet		{background-image: url(../img/partners/logos/webfleet.png);}
}


// HOW IT WORKS

.partners-howitworks-connect,
.partners-howitworks-play{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.partners-howitworks-img,
.partners-howitworks-text{width: 50%;}

.partners-howitworks-img{
	height: 640px;
	background-attachment: fixed;
	background-size: cover;

	.partners-howitworks-connect &{background-image: url(../img/partners/data-input.jpg);}
	.partners-howitworks-play &{background-image: url(../img/partners/data-output.jpg);}
}

.partners-howitworks-text{
	padding: 0 60px;
}

// CONNECTION

.partners-connection-container{
	display: flex;
	align-items: stretch;
}

.partners-connection-table{
	width: calc(50% - 60px);

	&.needs{
		text-align: right;
		padding-right: 200px;
	}

	&.partners{
		padding-left: 200px;
	}
}

.partners-connection-item{
	position: relative;
	height: 80px;
	padding: 10px 0;

	&:hover{cursor: pointer;}
}

.partners-connection-item-text{
	display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    background-color: #efeeee;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    opacity: .6;
    box-shadow: 0 0 16px rgba(217,210,200,0.5), 0 0 16px rgba(255,255,255,0.8);
    transition: opacity 1s, box-shadow 1s;

    .partners-connection-item:hover &{
    	opacity: 1;
    	box-shadow: 6px 6px 16px rgba(217,210,200,0.5), -6px -6px 16px rgba(255,255,255,0.8);
    }
}

.partners-connection-item-wire{
	position: absolute;
	width: 0;
	height: 2px;
	top: calc(50% - 1px);
	border-radius: 2px;
	background-color: $zenbus-color;
	transition: width 1s;

	.partner &{right: 100%;}
	.need &{left: 100%;}

	.partners-connection-item:hover &{width: 200px;}
}


// Needs

// Partners
.ubi .ubi,
.lumiplan .lumiplan,
.hubup .hubup,
.digimobee .digimobee,
.ventrata .ventrata,
.webreathe .webreathe,
.qostelecom .qostelecom,


.annexe11 .annexe11,
.billettique .billettique,
.comptage .comptage,
.diagnostic .diagnostic,
.connecteddriver .connecteddriver,
.wifi .wifi{

	.partners-connection-item-text{
		opacity: 1;
		box-shadow: 6px 6px 16px rgba(217,210,200,0.5), -6px -6px 16px rgba(255,255,255,0.8);
	}

	.partners-connection-item-wire{width: 200px;}
}


// LOGO
.partners-connection-zenbus{
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 120px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 16px rgba(217,210,200,0.5), -6px -6px 16px rgba(255,255,255,0.8);
}

.partners-connection-zenbus-img{
	position: relative;
	z-index: 1;
	width: 100%;
}