---
layout: page
title: recruitment
permalink: /job/
---
<div class="content-container job">
	<div class="header-tile">
		<h1 class="header-tile-title">{{ site.data["strings"].company.recruit.title }}</h1>
		<p class="header-tile-text">
			{{ site.data["strings"].company.recruit.description1 }}
			<span class="separator"></span>
			{{ site.data["strings"].company.recruit.description2 }}
		</p>
	</div>
	
	{% assign poles = site.data["jobs"] %}
	{% for pole in poles %}
	{% include components/job-section.html 
					resp=pole.resp 
					id=pole.id
					jobs=pole.jobs%}
	{% endfor %}
</div>