.apps{
	background-color: $zenbus-color;

	.stores {
	    position: relative;
	    width: 100%;
	    margin: auto;
	    padding: 0 30px;
	    text-align: center;
	}

	.stores-link {
	    width: 220px;
	    margin: 5px;
	}
}

// Global interfaces
.interfaces-passenger,
.interfaces-web{
    display: flex;
}


// Global Notes
.interfaces-notes{
    position: relative;
    z-index: 1;
}

.interfaces-notes-item{
    position: absolute;
    width: 100%;
    padding: 0 40px;
    font-size: 16px;
    color: white;

    &::after{
        content: "";
        position: absolute;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        border-radius: 2px;
        background-color: $main-color;
        box-shadow: 0 0 0 4px rgba(255,255,255,.2);
    }

    .left &{
        text-align: right;

        &::after{left: calc(100% - 20px);}
    }
    .right &{
        text-align: left;

        &::after{right: calc(100% - 20px);}
    }
}



// PASSENGER
.interfaces-passenger{
    width: 60%;
    max-width: 960px;
    margin: 100px auto 0;
}


// Mobile
.phone{
    position: relative;
    width: 320px;
    height: 670px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 16px 16px 32px rgba(0,0,0,.05), -16px -16px 32px rgba(255,255,255,.2);

    &::after{
        content: '';
        position: absolute;
        width: 50%;
        height: 16px;
        top: 10px;
        left: 50%;
        background-color: white;
        transform: translate3d(-50%, 0, 0);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.phone-img{
    width: 100%;
    border-radius: 20px;
}


// Mobile Notes
.interfaces-passenger{
    .interfaces-notes{
        width: calc(50% - 160px);
        height: 640px;

        &.left .interfaces-notes-item{
            &:nth-child(1){
                top: 22px;
                &::after{width: 42px;}
            }
            &:nth-child(2){
                top: 206px;
                &::after{width: 192px;}
            }
            &:nth-child(3){
                top: 446px;
                &::after{width: 44px;}
            }
        }

        &.right .interfaces-notes-item{
            &:nth-child(1){
                top: 312px;
                &::after{width: 160px;}
            }
            &:nth-child(2){
                top: 540px;
                &::after{width: 120px;}
            }
        }
    }
}



// WEB

// Computer
.interfaces-web-computer{
    height: 630px;
    margin: auto;
}

.computer{
    position: relative;
    width: 970px;
    height: 550px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: $highlight-color;
    box-shadow: 16px 16px 32px rgba(0,0,0,.05), -16px -16px 32px rgba(255,255,255,.2);
}

.computer-img{
    width: 100%;
    border-radius: 5px;
}

.base{
    position: absolute;
    width: 120px;
    height: 80px;
    left: 50%;
    background-color: #dfdddd;
    transform: translate3d(-50%, 0, 0);
    box-shadow: inset 0 20px 10px -10px rgba(0,0,0,.1);

    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 20px;
    }

    &::before {
        border-left: 20px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid #dfdddd;
        left: -20px;
    }
    &::after {
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 60px solid #dfdddd;
        right: -20px;
    }
}

// Computer Notes
.interfaces-web{
    .interfaces-notes{
        // TEMP: DISPLAY NONE;
        display: none;
        width: calc(50% - 485px);
        height: 550px;

        &.left .interfaces-notes-item{
            &:nth-child(1){
                top: 22px;
                &::after{width: 40px;}
            }
            &:nth-child(2){
                top: 206px;
                &::after{width: 80px;}
            }
            &:nth-child(3){
                top: 446px;
                &::after{width: 240px;}
            }
        }

        &.right .interfaces-notes-item{
            &:nth-child(1){
                top: 58px;
                &::after{width: 160px;}
            }
            &:nth-child(2){
                top: 240px;
                &::after{width: 280px;}
            }
            &:nth-child(3){
                top: 480px;
                &::after{width: 120px;}
            }
        }
    }
}