.connect-img{
	position: relative;
    width: 50%;
    margin: auto;
}

.connect-img-data,
.modules-products{
	position: relative;
	z-index: 1;
	@include inline-children;
}

.connect-img-data-item{
	width: 33.33%;
	text-align: center;
}

.data-item-title,
.products-item-title{
	display: block;
	font-size: 30px;
	padding: 40px 20px;
}

.data-item-logo{
	width: 160px;
    height: 160px;
    margin: auto;
    border: 10px solid white;
    border-radius: 100%;
	background-size: cover;

	.zenbusdriver &{background-image: url(../img/mynetwork/zenbusdriver.jpg);}
	.zenbusbox &{background-image: url(../img/mynetwork/zenbusbox.jpg);}
	.zenbusconnect &{background-image: url(../img/mynetwork/zenbusdriver.jpg);}
}

.data-item-dots-container{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;

	&::after{
		content: '';
		position: absolute;
		width: 80px;
		height: 10px;
		bottom: 0;
		left: 50%;
		margin: auto;
		transform: translate3d(-50%, 0, 0);
		border-radius: 100%;
		background-color: $highlight-color;
		box-shadow: inset 0 4px 3px #eaebec;
	}
}

.data-item-dots,
.products-item-dots{
	display: block;
	position: relative;
	z-index: 1;
	width: 40px;
	height: 220px;
	margin: auto;
	background: radial-gradient($zenbus-color 2px, transparent 2px);
	background-size: 40px 40px;
	animation: slide .6s infinite linear;
}

@keyframes slide{
  0%{transform: translate3d(0,-20px,0);}
  100%{transform: translate3d(0,20px,0);}
}

.connect-img-box{
	width: 100%;
    height: 200px;
    margin-top: -25px;
}

.connect-img-box-top{
	position: relative;
    width: 100%;
	height: 40px;
    background: #f5f6f7;

    &::before,
    &::after{
    	content: '';
    	position: absolute;
    	top: 0;
    	border-top: 40px solid $highlight-color;
    }

    &::before{
    	left: 0;
    	border-right: 80px solid transparent;
    }

    &::after{
    	right: 0;
    	border-left: 80px solid transparent;
    }
}

.connect-img-box-bottom{
	height: calc(100% - 40px);
	padding: 30px;
	border: 1px solid rgba(255,255,255,.2);
	background-color: $highlight-color;
	box-shadow: 0 70px 70px -70px rgba(0,0,0,.2);

	> img{
		display: block;
		width: auto;
		height: 100%;
		margin: auto;
	}
}


// MODULES
.modules-products{
	width: 50%;
    max-width: 960px;
    margin: auto;
}

.modules-products-item{
	width: 25%;
	text-align: center;
}

.products-item-dots-container{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.products-item-logo{
	width: 160px;
    height: 160px;
    margin: auto;
    border: 10px solid white;
    border-radius: 100%;
	background-size: cover;

	.zenbusapp &{background-image: url(../img/mynetwork/modules_app.png);}
	.zenbuslive &{background-image: url(../img/mynetwork/modules_live.png);}
	.zenbusstats &{background-image: url(../img/mynetwork/modules_stats.png);}
	.zenbusapis &{background-image: url(../img/mynetwork/modules_pan.png);}
}

.button-more{
	display: block;
    height: 80px;
    margin: 40px 30px 0;
    background-color: $highlight-color;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 4px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
    opacity: .6;
    box-shadow: 0 0 16px rgba(217,210,200,0.5), 0 0 16px rgba(255,255,255,0.8);
    transition: opacity 1s, box-shadow 1s;

    .modules-products-item:hover &{
        opacity: 1;
        box-shadow: 6px 6px 16px rgba(217,210,200,0.5), -6px -6px 16px rgba(255,255,255,0.8);
    }
}