.mynetwork-home{
	height: calc(100vh - 80px);
    background-image: url(../img/mynetwork/mynetwork_home.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.mynetwork-home-catchphrase{
	position: absolute;
    width: 70%;
    top: 36%;
    right: 60px;
    text-align: right;
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
    color: white;
    transform: translateY(-80%);
}

.mynetwork .catchphrase-links-item{font-size: 24px;}