.deploy-timeline{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
}

.deploy-timeline-item,
.deploy-timeline-subtitles{
	position: relative;
	width: 20%;
	height: 320px;
	padding: 0 40px;

	&.study{
		z-index: 5;
		background-color: $zenbus-color;
		color: $zenbus-color;
	}
	&.deployment{
		z-index: 4;
		background-color: #42e695;
		color: #42e695;
	}
	&.whitewalk{
		z-index: 3;
		background-color: #6078ea;
		color: #6078ea;
	}
	&.go{
		z-index: 200;
		background-color: transparent;
	}
	&.opening{
		z-index: 200;
		background-color: #f38181;
		color: #f38181;
	}

	&:not(.go)::before{
		position: absolute;
		width: 80px;
		height: 80px;
		top: -40px;
		left: calc(50% - 50px);
		border-radius: 100%;
		border: 10px solid currentColor;
		background-color: white;
		text-align: center;
		line-height: 80px;
		font-size: 40px;
	}

	&.study::before{content: "1"}
	&.deployment::before{content: "2"}
	&.whitewalk::before{content: "3"}
	&.opening::before{content: "4"}
}

.deploy-timeline-item:not(.opening):not(.go)::after{
	content: "";
	position: absolute;
	top: calc(50% - 20px);
	left: 100%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid currentColor;
}

.timeline-item-icon{
	display: block;
	width: 100px;
	height: 100px;
	margin: 60px auto 0;
	@include background-image-retina(mynetwork/timeline_icons,png, 400px, 100px);

	.study &{background-position: 0 0;}
	.deployment &{background-position: -100px 0;}
	.whitewalk &{background-position: -200px 0;}
	.opening &{background-position: -300px 0;}
}

.timeline-item-text{
    display: block;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
	color: white;
}

.go-text{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    font-size: 24px;
}
.go-dot{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 100%;
	background-color: $main-color;
}


.deploy-timeline-subtitles{
	padding: 40px 20px;
	text-align: center;
}
.timeline-subtitles-text {
    display: block;
    padding-bottom: 10px;
}

.deploy-timeline-dots{
	position: absolute;
    width: 100%;
    height: 40px;
    overflow: hidden;
    z-index: 10;
    top: calc(25% - 20px);
}
.deploy-timeline-dots-animation{
	display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background: radial-gradient(#3bb2b8 2px,rgba(0,0,0,0) 2px);
    background-size: 40px 40px;
    animation: horizontal-slide .6s infinite linear;
}

@keyframes horizontal-slide{
  0%{transform: translate3d(-20px,0,0);}
  100%{transform: translate3d(20px,0,0);}
}