@media only screen and (max-width: 1600px) {
	
	// GLOBAL
	.tile-title{width: 80%;font-size: 36px;}
	.tile-sub,
	.tile-links{width: 60%;font-size: 21px;}
	.tile-text{padding: 0 40px;}
	.tile-text-item{font-size: 18px;}

	.home-operator .tile-title{margin-left: 20%;}
	.home-operator .tile-sub,
	.home-operator .tile-links{margin-left: 40%;}


	// HOME

	// > Landing
	.catchphrase-content{font-size: 42px;}
	.catchphrase-content-name{margin-top: 30px;font-size: 80px;}
	.catchphrase-content-sub{margin-top: 30px;font-size: 24px;}

	// > Numbers
	.numbers-item-text-title{font-size: 50px;}

	// > Why
	.home-why-content{width: 70%;}
	.why-tile-title{font-size: 40px;}
	.why-tile-text{font-size: 18px;}
	.why-tile-text-sub{font-size: 24px;}

	// > Map
	.map-tile{}
	.map-tile-title{font-size: 36px;}
	.map-tile-text{font-size: 18px;}

	// > Roi
	.tile-content-roi{padding: 30px;}
	.roi-item-number{font-size: 72px;}
	.roi-item-text{font-size: 21px;}


	// FOOTER
	.footer {flex-direction: column;height: auto;padding: 0 40px;}

	.footer-part {text-align: center;
	    &.subscribe{max-width: 480px;margin: auto;}
	    &.download{position: relative;right: 0;}
	}
	.download-link {display: inline-block;}

	.footer-sub {height: auto;text-align: center;
	    >* {display: block;}
	}

}