@media only screen and (max-width: 840px){

	// GLOBAL
	.header-tile{width: 80%;padding: 60px 0 40px;}
	.header-tile-title{font-size: 32px;}
	.header-tile-text{font-size: 16px;}


	// NAVIGATION
	.panel {
		display: block;
	    position: fixed;
	    z-index: 3000;
	    width: 320px;
	    height: 100%;
	    background-color: #fff;
	    transform: translateX(-100%);
	    transition: transform .3s;

	    .panel-hamburger.show-panel + &{
	    	transform: translateX(0);
	    }
	}

	.panel-logo{margin: 80px 0 0 10px;}
	.panel-menu{text-align: left;}
	.panel-menu-item{
		display: block;
		height: 60px;
		overflow: hidden;
		transition: height .3s;

		&.connectandplay:hover{height: 240px;}
		&.products:hover{height: 300px;}
		&.company:hover{height: 240px;}
		&.resources:hover{height: 180px;}
	}
	.panel-menu-item-button{height: 60px;}

	.panel-hamburger{display: block;}

	.panel-menu-item-submenu{
	    display: block;
		position: relative;
	    width: 100%;
	    top: 0; 
	    left: 0;
	    transform: translate3d(0, 0, 0);
	    box-shadow: none;

	    &:hover,
		.panel-menu-item-button:hover + &{transform: translate3d(0, 0, 0);}
	}
	.submenu-item{padding-left: 20px;}



	// HOME

	// > Global
	.content-container.home{padding-bottom: 100px;}

	.tile {padding-top: 100px;}
	.tile-title,
	.tile-sub,
	.tile-links,
	.home-operator .tile-title,
	.home-operator .tile-sub,
	.home-operator .tile-links{width: 100%; margin-left: 0;padding:10px 40px;text-align: center;}
	.tile-title{font-size: 32px;}
	.tile-sub,
	.tile-links{font-size: 16px;}

	.tile-content,
	.home-operator .tile-content{flex-direction: column;padding-top: 60px;}
	.tile-text {padding: 40px; box-shadow: none;}
	.tile-content-roi{padding: 20px;text-align: center; box-shadow: none;}
	.roi-item-text{padding: 0;}
	.roi-more{position: relative;bottom: 0;}
	.roi-more-link{text-align: center;}

	.scroll-indicator{display: none;}

	// > Landing
	.home-landing{height: 100vh;}
	.home-landing::before{display: block;}
	.home-landing-catchphrase{
		position: relative;
	    width: 100%;
	    right: initial;
	    padding: 0 40px;
	    text-align: center;
	}
	.catchphrase-content{font-size: 32px;}
	.catchphrase-content-name{font-size: 64px;}
	.catchphrase-content-sub{font-size: 18px;}
	.catchphrase-links-item{padding: 0 20px;font-size: 24px;line-height: 60px;}
	.catchphrase-links-item::after{left: 50%;}

	// > Map
	.home-map{height: 640px;}

	// > Why
	.home-why-content{width: 95%;padding: 20px 20px 40px 20px;}
	.why-tile-title {font-size: 32px;}
	.why-tile-text {font-size: 16px;}

	// > Numbers
	.home-why-numbers-item{
		width: 100%;flex-direction: row;
		&.team,&.stops,&.data{flex-direction: row-reverse;}
	}
	.numbers-item-img,
	.numbers-item-text{width: 50%;height: 240px;}
	.numbers-item-text-title{font-size: 36px;}

	// > Map
	.map-tile{width: auto;left: 20px;bottom: unset;text-align: center;background-image: none;background-color: white;}
	.map-preview{width: 100%;height: 50%;top: 50%;}
	.map-container{left: 0}
	.popup {
	    width: 100%;
	    height: auto;
	    margin-top: 0;
	    top: auto;
	    bottom: 0;
	    left: 0;
	    transform: none;
	    box-shadow: none;
	}
	.popup-networks {max-height: 220px;}
	.privatecode-form {width: 90%;}


	// BLOG

	// > Home
	.blog-header {height: auto;padding: 40px 0;}
	.blog-header-categories {position: relative;width: 100%;right: 0;text-align: center;}
	.categories-item {display: block;line-height: 50px;}
	.categories-item::after {display: none;}
	.blog-articles {grid-template-columns: repeat(1, 100%);padding: 0 2%;}

	// > Article
	.article{padding: 0;}
	.article-infos, .article-content {width: 100%;}
	.article-infos-title {font-size: 48px;}
	.author-status-prefix, .author-status-name {font-size: 21px;}
	.author-status-date {font-size: 18px;}
	.article-content-banner {height: 360px;}
	.article-content-text {padding: 20px;font-size: 16px;}


	// IV
	.interfaces-notes{display: none;}
	.interfaces-passenger{width: 100%;}
	.interfaces-passenger-mobile{margin: auto;}
	.interfaces-web-computer{height: auto;}
	.computer{width: 98%; height: auto;}
	.base{display: none;}

	.verbatim-list{width: 100%;}
	.verbatim-list-item{width: 100%; padding: 20px;}

	.form{width: 100%;padding: 20px;}


	// PRESS
	.presshistory-articles {grid-template-columns: repeat(2, 49%);}


	// CONTACT
	.classic-form {width: 90%;padding: 20px 30px 60px;}
	.classic-form-error, .classic-email-error{width: 100%;text-align: center;}
	.classic-form-input, .classic-form-select, .classic-form-text, .classic-form-textarea {width: 100%;text-align: center;}
	.classic-form-text {height: auto;margin-top: 60px;line-height: 1.5;}
	.classic-form-textarea {height: 240px;line-height: 1.5;}
	.classic-form-input.email, .classic-form-select.email, .classic-form-textarea.email {width: calc(100% - 40px);}


	// JOB
	.job-section{width: 80%;}
	.job-section-content{width: 100%;}
	.job-section-content-text {padding: 30px;font-size: 18px;}


	// TEAM
	.team-members {grid-template-columns: repeat(2, 45%);grid-column-gap: 5%;}


	// EXTERN
	.mentions>section {width: 96%;margin: 2%;padding: 40px;}
	.mentions h1 {font-size: 32px;}
	.mentions h2 {font-size: 24px;}
	.mentions h2 {font-size: 16px;}
	.mentions p, .mentions li{font-size: initial;line-height: 1.5;}

}